body {
    background-color: #d4a373;
}

ul {
    list-style: none;
    height: 25px;
}

ul li {
    float: left;
    padding: 0px 60px 40px 60px;
    color: #588157;
    font-weight: bold;
}


.introductionSection {
    background-color: #a3b18a;
    font-family: didot, serif;
    text-align: center;

}

#quote {
    color: #ffe1a8;
    font-style: italic;
    font-family: didot, serif;
}

.monitor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 50x;
}

#goodbye {
    color: #faedcd;
    font-style: italic;
    font-family: serif;
    float: right;
    height: 150%;
    padding: 200px;
}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px 100px 0px;
    float: right;
}

.work {
    display: flex;
}


.html {
    width: 800px;
    height: 500px;
}

.css {
    width: 400px;
    height: 500px;
}

  
#aboutMe {
    background-color:#d4a373;
    float: left;
    height:500px;
    width:469px;
    flex-direction: row;
}

#profile {
    background-color:#faedcd;
    flex-direction: row;
    float: left;
    height:500px;
    width:469px;
}

#contact {
    background-color:#ccd5ae;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    height:500px;
    width:469px;
}

#allAboutMe{
    height:10px;
}

#profilePlace{
    text-align: center;  
}

#contact{
    text-align: center;
}


/*@media screen and (max-width: 850px) {}*/