body {
    background-color: #d4a373;
}

ul{
    list-style: none;

}

ul li {
    float: left;
    padding: 40px 60px 40px 60px;
    color: #588157;
    font-weight: bold;
    
}

.sidebar{
    padding: 200px 15px 100px 0px;
    float: right;
    width: 30%;
    height: 300%;
    background-color: #606c38;
}

.heading{
    background-color: #a3b18a;
    font-family: didot, serif; 
}

#quote{
color: #ffe1a8;
font-style: italic; 
font-family: didot, serif;
}

nav {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}


.paragraphs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    width: 68%;
    
}
